body {
  margin: 0;
  padding: 0;
  background-color: rgb(27, 18, 13);
}

.background-wrapper {
  //background-image: url("../assets/backgroundNBPic.jpg");
  background-image: url("../assets/BrownBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.content-wrapper {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.header-wrapper {
  width: 100%;
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;
}
.header-inner {
  width: 65vw;
  margin: 0 auto;
}

.colNavBarColor {
  background-color: transparent !important;
}

.nav-pills .nav-link {
  color: black; /* Text color */
  background-color: #5a5a5a; /* Normal pill background */
  border-radius: 50px; /* Optional: pill shape */
}

.nav-pills .nav-link.active {
  color: black; /* Text color for active pill */
  background-color: gold; /* Active pill color */
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.title-image {
  max-width: 100%;
  height: auto;
  filter: contrast(1) brightness(1.4);
}

.hero-signature {
  display: flex;
  justify-content: center;
  padding-top: 80px; /* space from the top */
  padding-bottom: 40px;
}

.signature-image {
  width: 600px; /* adjust to taste */
  max-width: 90%;
  height: auto;
  filter: contrast(1) brightness(1.4);
}
